donors-sapi/src/main/mule/put-device-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="put-device-token-flow" doc:id="050e879e-3163-463d-ad83-232bfd341377" >
		<logger level="INFO" doc:name="LOG INFO Start" doc:id="5332084a-b1c2-45f2-8037-3b76bfd0fc15" message="START put-device-token-flow"/>
		<ee:transform doc:name="DW Map - Request" doc:id="f5de6745-f184-4f43-b997-c7451bc299bd" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vOriginalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="vDonorID" ><![CDATA[attributes.uriParams.'donorID']]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<db:update doc:name="Donor - Update Device Token" doc:id="b8741575-7f8a-4fa3-abca-3f436cb21151" config-ref="Donor_Database_Config" target="vDBResponse">
			<db:sql ><![CDATA[update donor
set deviceToken = :deviceToken
where donorID = :donorID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	deviceToken: vars.vOriginalPayload.token,
	donorID: vars.vDonorID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="DW Map - vDBResponse to JSON" doc:id="ef7335c6-0a12-4601-9af3-1384b03e0b4f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="vDBResponse" ><![CDATA[%dw 2.0
output application/json
---
vars.vDBResponse]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="DW Map - Success Response" doc:id="05c2414e-201f-4cd3-b794-165d40167d68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "S",
	"message": "Device Token Updated Successfully",
	"data": null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="LOG INFO End" doc:id="e8439db7-d9d7-4efa-b442-f935c74059bf" message="END put-device-token-flow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="252e0bf9-db03-4cab-958e-c416e797bf37" type="ANY">
				<logger level="ERROR" doc:name="LOG ERROR Error Occurred"
					doc:id="226d2325-3602-4b05-86ad-439b01e6d764"
					message="Error occurred in updating device token - #[error.description]" />
				<ee:transform
					doc:name="DW Map : Error Response"
					doc:id="c09f865b-0c43-43c4-bd10-feb600f3b334">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "F",
	"message": "Device Token Update Failed",
	"errorMessage": error.description
}


]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
